<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>BullHorn Twitter</h1>
            <p>Take your Tweets to another level!</p>
        </div>


    </div>
    <a href="/add">Add a Message</a><br />
    <div th:each="message : ${messages}">
        <h3 th:inline="text">[[${message.content}]] - [[${message.sentBy}]]</h3><br />
    </div>
</body>
</html>